@import '~antd/dist/antd.css';

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.icon-spin {
  animation: spin infinite 2s linear;
  height: 80px;
}

